PORT=3000
MONGODB_URI=<Your MongoDB URI>
JWT_SECRET=<Your JWT Secret Key>
FRONTEND_URL= http://localhost:5173
CLOUDINARY_API_KEY=<Your Cloudinary API Key>
CLOUDINARY_API_SECRET=<Your Cloudinary API Secret>
CLOUDINARY_CLOUD_NAME=<Your Cloudinary Cloud Name>
GMAIL_APP_PASSWORD=<Your Gmail App Password>
GMAIL=<Your Gmail Address>
STRIPE_PUBLISHABLE_KEY=<Your Stripe Publishable Key>
STRIPE_SECRET_KEY=<Your Stripe Secret Key>
STRIPE_WEBHOOK_SECRET=<Your Stripe Webhook Secret>