@import "tailwindcss";

@font-face {
  font-family: 'font2';
  src: url('./fonts/font2.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'font1';
  src: url('./fonts/font1.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'font3';
  src: url('./fonts/OleoScript-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'font4';
  src: url('./fonts/OleoScript-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'font2', sans-serif;
}
